<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>main</title>
	<script src="/js/jquery.min.js"></script>
	<script type="text/javascript" charset="utf-8">
		if (!jQuery) {
			document.write('<scri'+'pt src="/js/jquery.min.js"></scr'+'ipt>');
		}
	</script>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
			{% block scriptready %}{% endblock %}
		});

	</script>
	<script type="text/javascript" src="/js/bootstrap-modal.js"></script>
	{% block script %}{% endblock %}
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<style type="text/css" media="screen">
	</style>
	{% block style %}{% endblock %}
</head>
<body>
	<div class="container">
	{% block content %}{% endblock %}
	</div>
</body>
</html>