{% extends "base.html" %}
{% block script %}
<script type="text/javascript" src="/js/tim.js"></script>

<script type="text/tim+erb" class="buy-modal">
	<div class="modal-header"><h1>Buy <%name%></h1></div>
	<div class="modal-body">
	<form action="/tag/<%key%>/buy" method="POST">
	<input type="number" name="qty" value="<%maxqty%>"  min="1" max="<%maxqty%>" id="qty">
	<input type="submit" name="buy" value="Buy" id="buy" />
	</form>
	</div>
	<div class="modal-footer"></div>
</script>
<script type="text/tim+erb" class="offer-modal">
	<div class="modal-header"><h1>Offer <%name%></h1></div>
	<div class="modal-body">
	<form action="/stock/<%key%>/offer" method="POST">
	<input type="number" name="qty" value="<%maxqty%>"  min="1" max="<%maxqty%>" id="qty">
	<input type="submit" name="offer" value="Offer" id="offer" />
	</form>
	</div>
	<div class="modal-footer"></div>
</script>
<script type="text/javascript" charset="utf-8">

var erb = tim.parser({start:"<%", end:"%>", type:"text/tim+erb"});

function display(id, name, tagid, maxqty) {
	$("#"+id).html(erb(id, {name: name, key: tagid, maxqty: maxqty}));
	$("#"+id).modal({keyboard: true, backdrop: true, show: true});
}
</script>
{% endblock %}
{% block content %}
<h1>Tag Trading</h1>
<p>Welcome back {{user.name}} ({{user.email}})</p>
<p><a href="/signout">Sign out</a>
	<div class="messages">
		<ol>
			{% for msg in user.get_messages %}
			<li>{{msg.dt}} - {{msg.msg}} <a href="/message/{{msg.key}}/delete">Delete</a></li>
			{% endfor %}
		</ol>
	</div>
	<div id='buy-modal' class='modal fade hide'></div>
	<div id='offer-modal' class='modal fade hide'></div>
<h2>Your portfolio</h2>
<table>
	<thead>
		<td class="high">Qty</td>
		<td class="name">Name</td>
		<td class="price">Current Price</td>
		<td class="price">On Offer</td>
		<td>Actions</td>
	</thead>
	<tbody>
{% for stock in user.current_stocks %}
	<tr class="tag {{stock.tag.direction}}">
		<td>{{stock.quantity}}</td>
		<td>{{stock.tag.name}}</td>
		<td>{{stock.tag.price|currency}}</td>
		<td>{{stock.on_offer}}</td>
		<td>
			<a class="btn" href="/tag/{{stock.tag.key}}">Info</a>
			<a class="btn" onclick="display('offer-modal', '{{stock.tag.name}}', '{{stock.key}}', '{{stock.quantity}}')" >Offer</a>
		</td>
		<td>
		<form method="POST" action="/stock/{{stock.key}}/offer">
			<input name="qty" type="number" max="{{stock.quantity}}" min="1" value="{{stock.quantity}}" class="span2"/>
			<input type="submit" value="offer"></input>
		</form>
		</td>
	</tr>
{% endfor %}
</tbody>
</table>

<h2>Your Offers</h2>
<table>
	<thead>
		<td class="direction">Type</td>
		<td class="direction">Offer Price</td>
		<td class="high">Quantity</td>
		<td class="name">Name</td>
		<td class="price">Current Price</td>
		<td class="change">Direction</td>
		<td class="change">Difference</td>
	</thead>
	<tbody>
{% for offer in user.buy_offers  %}
	<tr class="tag buy">
		<td>Buy</td>
		<td>{{offer.price|currency}}</td>
		<td>{{offer.quantity}}</td>
		<td class="name">{{offer.tag.name}}</td>
		<td class="price">{{offer.tag.price|currency}}</td>
		<td class="direction">{{offer.tag.direction}}</td>
		<td class="direction">{{offer.difference|currency}}</td>
	</tr>
{% endfor %}
{% for offer in user.sell_offers  %}
	<tr class="tag sell">
		<td>Sell</td>
		<td>{{offer.price|currency}}</td>
		<td>{{offer.quantity}}</td>
		<td class="name">{{offer.tag.name}}</td>
		<td class="price">{{offer.tag.price|currency}}</td>
		<td class="direction">{{offer.tag.direction}}</td>
		<td class="direction">{{offer.difference|currency}}</td>
	</tr>
{% endfor %}
</tbody>
</table>


<h3>Summary</h3>
<p>You have {{user.cash|currency}} cash on hand, and {{user.stock_total|currency}} in stocks which if sold now would fetch {{user.stock_sell_total|currency}}</p>

<h2>Market View</h2>
<table>
	<thead>
		<td class="direction">Direction</td>
		<td class="high">High</td>
		<td class="low">Low</td>
		<td class="name">Name</td>
		<td class="price">Price</td>
		<td class="change">Change</td>
		<td class="yield">Yield</td>
		<td class="pe">P/E</td>
		<td class="available">Available</td>
	</thead>
	<tbody>
{% for tag in tags %}
	<tr class="tag {{tag.direction}}">
		<td class="direction">{{tag.direction}}</td>
		<td class="high">{{tag.high|currency}}</td>
		<td class="low">{{tag.low|currency}}</td>
		<td class="name">{{tag.name}}</td>
		<td class="price">{{tag.price|currency}}</td>
		<td class="change">{{tag.change}}</td>
		<td class="yield">{{tag.yield_}}</td>
		<td class="pe">{{tag.pe}}</td>
		<td class="available">{{tag.available}}</td>
		<td class="buttons">
			<a class="btn" href="/tag/{{tag.key}}">Info</a>
			<a class="btn" onclick="display('buy-modal', '{{tag.name}}', '{{tag.key}}', '{{tag.available}}')" >Buy</a>
		</td>
	</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
