<!DOCTYPE html>
<html>
<head>
<title>Sign In to Tag Trading</title>
</head>
<body>
<h1>Guardian Tag Trading</h1>
<p>Welcome to guardian tag trading, the game where you try to predict the news.</p>
<p>This game requires that you sign in using your email address, if you haven't got an account, one will be created for you and $500 automatically deposited</p>
<form action="/signin" method="post">
	<div>
		<label for="email">Email Address:</label><input type="email" name="email" value="" id="email">
		<input type="submit" value="Submit" />
	</div>
</form>

</body>
</html>
