{% extends "base.html" %}
{% block script %}
	<script src="/js/jquery.flot.js"></script>
{% endblock %}
{% block script-ready %}
	var options = {
		lines: { show: true },
		points: { show: true },
		xaxis: { mode: "time" }
	};
	var data = [{{ tag.dividend_history|safe }}];
	var placeholder = $("#historychart");

	$.plot(placeholder, data, options);
	{% endblock %}

{% block content %}
<h1>Tag Trading</h1>
<p>Welcome back {{user.name}} ({{user.email}})</p>
<h2>Tag: {{tag.name}}</h2>
<h3>Details</h3>
	<ul class="row">
		<li class="span4">Price</li><li class="span4">{{tag.price}}</li>
		<li class="span4">High</li><li class="span4">{{tag.high}}</li>
		<li class="span4">Low</li><li class="span4">{{tag.low}}</li>
		<li class="span4">Available</li><li class="span4">{{tag.available}}</li>
		<li class="span4">Change</li><li class="span4">{{tag.change}}</li>
		<li class="span4">Direction</li><li class="span4">{{tag.direction}}</li>
	</ul>
<h3>Stocks for sale</h3>
<table>
	<tr>
		<th>Seller</th>
		<th>Price</th>
	</tr>
	{% for offer in tag.offer_set %}
	<tr>
		<td>{{offer.user.name}}</td>
		<td>{{offer.min_price}}</td>
	</tr>
	{% endfor %}
</table>
<h3>Dividend Payout History</h3>
<div id="historychart" style="width:600px;height:300px;"></div>
<pre>
	{{ tag.history }}
</pre>
{% endblock %}